@import "tailwindcss";

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(245 245 245);
  color: rgb(10 10 10);
}

::selection {
  background: rgba(0, 0, 0, 0.12);
}

* {
  -webkit-tap-highlight-color: transparent;
}
